<form [formGroup]="filterForm">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Name
        <button mat-button [matMenuTriggerFor]="nameMenu">Filter</button>
        <mat-menu #nameMenu="matMenu"> <div *ngFor="let name of uniqueNames">
          <mat-checkbox  (change)="toggleFilter('name', name, $event.checked)">
            {{ name }}
          </mat-checkbox> </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Roll Column -->
    <ng-container matColumnDef="roll">
      <th mat-header-cell *matHeaderCellDef>
        Roll
        <button mat-button [matMenuTriggerFor]="rollMenu">Filter</button>
        <mat-menu #rollMenu="matMenu"><div *ngFor="let roll of uniqueRolls">
          <mat-checkbox  (change)="toggleFilter('roll', roll, $event.checked)">
            {{ roll }}
          </mat-checkbox></div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.roll}} </td>
    </ng-container>

    <!-- Place Column -->
    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef>
        Place
        <button mat-button [matMenuTriggerFor]="placeMenu">Filter</button>
        <mat-menu #placeMenu="matMenu"><div *ngFor="let place of uniquePlaces">
          <mat-checkbox  (change)="toggleFilter('place', place, $event.checked)">
            {{ place }}
          </mat-checkbox>
        </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.place}} </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="2" [pageSizeOptions]="[2,3,5]" showFirstLastButtons [length]="3"></mat-paginator>
</form>
